<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- 콘솔로 로그를 남김 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 로그 메시지 패턴 -->
			<Pattern>
				[%d{HH:mm:ss.SSS}] [%thread] %-5level %logger{36} : %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- 파일로 로그를 남김 -->
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:\Log\log.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				[%d{HH:mm:ss.SSS}] [%thread] %-5level %logger{36} : %msg%n
			</Pattern>
		</encoder>
		<!-- 로그를 남기는 파일의 용량이 50KB가 넘으면 이를 압축 파일로 만들고 새로 로그 파일로 만들라는 정책 -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10KB</MaxFileSize>
		</triggeringPolicy>

		<!-- 파일을 덮어쓰는 정책 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>C:\Log\log.%i.log.zip</FileNamePattern>
			<!-- MinIndex가 1이고, MaxIndex가 10이므로, 위의 파일 이름 패턴에 따라 아래의 로그 파일이 생길 것이다.  -->
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
	</appender>

	<!-- com.ibk.itep 아래 패키지 로그들만 consoleAppender, fileAppender 방법으로 로그를 남긴다.  -->
	<logger name="com.ibk.itep" level="debug" additivity="false">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<!-- mybatis query log setting -->
	<logger name="jdbc" level="OFF" />
	<!--  SQL 쿼리 문장 -->
	<logger name="jdbc.sqlonly" level="OFF" />
	<!--  SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds) -->
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<!--  ResultSet을 제외한 모든 JDBC 호출 정보 -->
	<logger name="jdbc.audit" level="OFF" />
	<!--  ResultSet을 포함한 모든 JDBC 호출 정보 -->
	<logger name="jdbc.resultset" level="OFF" />
	<!-- SQL 결과 조회된 데이터의 table을 로그 -->
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />

	<!-- root는 글로벌 로거를 의미하며, 위의 logger에 해당하지 않으면 root 로거가 실행된다. -->
	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>